body{
    background-image: url("./Bilder/jonkler.jpg");
    background-size: cover;
}

h1{
    color: rgb(236, 31, 31);
    background-color:#cfd4f9;
    text-align: center;
}

h2
{
    background-color: black;
    color: white;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#kap6{
    background-color: red;
}

